<div class="posts-sell-contents">

  <div class="posts-sell-main">
    <h2 class="posts-sell-title">情報を修正を入力</h2>
    <%= form_with model: @post, local: true do |f| %>


    <div class="new-posts">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"posts-text", id:"item-name", placeholder:"タイトル（必須 40文字まで)", maxlength:"40" %>
      <div class="posts-explain">
        <div class="weight-bold-text">
          運動内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :workout, class:"posts-text", id:"item-info", placeholder:"やるべき運動内容（必須 1,000文字まで）例）週3回ジムでの筋トレ,ベンチプレス10回3セット、スクワット10回3セット、チンニング10回3セット、腹筋30回3セット" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="posts-explain">
        <div class="weight-bold-text">
          食事内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :meal, class:"posts-text", id:"item-info", placeholder:"毎日の食事内容（必須 1,000文字まで）例）朝：おにぎり1個,牛肉200g,お味噌汁 昼: おにぎり1個,鳥胸肉200g,野菜　夜: おにぎり1個,脂身の少ない肉200g,野菜　間食: ナッツ、プロテイン"  ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <div class="posts-detail">
      <div class="weight-bold-text">詳細情報</div>
      <div class="form">
        <div class="weight-bold-text">
          性別
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box", id:"post-sex"}) %>
        <div class="weight-bold-text">
          年代
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box", id:"post-age"}) %>
        <div class="weight-bold-text">
          運動スタイル
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:style_id, Style.all, :id, :name, {}, {class:"select-box", id:"post-style"}) %>
        <div class="weight-bold-text">
          目的
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:purpose_id, Purpose.all, :id, :name, {}, {class:"select-box", id:"post-purpose"}) %>
      </div>
    </div>

    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to '詳細ページへもどる',post_path(@post.id) , class:"back-btn" %>
    </div>

  </div>
  <% end %>
</div>
